* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Vollkorn", serif;
  font-weight: 500;
  font-size: 2em;
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 1400px;
}

header {
  padding: 25px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 1600px;
  color: #fff;
  position: relative;
  margin-bottom:4rem;

}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 392px;
  background: url("../images/banner-image.jpg") no-repeat top center;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  z-index: -1;
}

.banner-text {
  padding: 5% 0;
  width: 1400px;
  height: 300px;
}
.banner-text h1 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 60px;
}

.banner-text h1 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 60px;
}

.banner-text button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 8px 40px;
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
}




#book-header{
  text-align: center;
  border-bottom:3px solid black;
  padding-bottom:1rem;

}

#book-text{
  margin:2rem 0 0 4rem;
}

#btn{
  background:transparent;
  height:40px;
  font-size: 11px;
 font-weight: 600;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing:0.1rem;
  padding:0 3rem;
  color:#555;
 margin:2rem 0 0 4rem;
}

#btn:focus{
  outline: none;
}
main {
  height:500px;
  margin: 2rem 0 0 4rem;
  
}



.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 10%;
  row-gap: 20%;
}

.book {
  height: fit-content;
}

.book .title {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 10px;
}

.book .author {
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
}


/* A hardcoded method for fixing the issue of not showing last book title and author */

/*.book:first-child::before{
  content: 'Friday';
  font-weight: 700;
  margin-bottom:10px;
}
.book:first-child::after{
  content: 'Michel Tournier';
  font-style: italic;
  font-size: 1.1em;
  display: block;
  margin-top:10px;
}*/