          /* General Styling */

*{
    margin:0;
    padding:0;
}

          /* Top section styling */

.top-section{
    height:100px;
    display: flex;
    align-items: center;
}

.top-section h1{
    font-weight:500;
    font-family: 'Vollkorn', serif;
    font-size: 48px;
    margin-left:4rem;
    
}


    /* Image section styling */

.img-section{
    background: url('images/banner-image.jpg') no-repeat ;
    background-size: cover;
    height:400px;
    display: flex;
    align-items: center;
}

.img-section div{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.img-section p{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:36px;
    margin:0 0 3rem 2rem;
}

.img-section button{
    height:70px;
    width:250px;
    background:transparent;
    border: 3px solid white;
    color:white;
    font-weight:600;
    font-size:20px;
    margin-left:2rem;
}


       /* Last section styling */

.last-section {
    height:500px;
}   

.last-section .main{
    height:90%;
    width:95%;
    margin: 4rem auto;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    
}


.last-section .first-div{
    justify-self:center;
}

.last-section .second-div{
    margin-left:2rem;
}
.last-section .fourth-div{
    justify-self:center;
}


.last-section p {
    font-family:'Roboto', sans-serif;
    font-size:18px;
}

.last-section p:nth-child(even){
  margin-bottom:3rem;
}

.last-section p:nth-child(odd){
    font-weight:700;
    margin-bottom:0.5rem
  }

  /* Media Queries */


  @media(min-width:2000px){
     .last-section p{
         font-size:25px;
     }
  }


  @media (max-width: 1450px){
      .last-section{
          height:900px;
      }
      .last-section .main {
          grid-template-columns: repeat(2 , 1fr);
          grid-template-rows: repeat(2 , 1fr);
          row-gap:2.5rem;
      }
      .last-section .second-div{
        margin-left:0;
        justify-self:center;
        position: relative;
        bottom: 5px;
    }  
    }
    .last-section .third-div{
        justify-self:center;
        margin-left: 1rem;
      }
      .last-section .fourth-div{
        justify-self:center;
        margin-left: 2rem;
     
      }
  
     
      @media(max-width:1200px){
         .img-section{
             background-size:contain;
             height:300px;
         }
         .img-section div{
             margin-left:2rem;
         }
         .img-section p{
             font-size:30px;
             margin:0 0 1rem 2rem;
         }
         .img-section button{
             width:200px;
             height:50px;
         }
      }

      @media(max-width:1000px){
          .img-section {
             height:200px;
             background-size: cover;
              
          }
          .img-section div{
              height:100%;
              justify-content: center;
          }
      }


      @media(max-width:700px){
         .top-section h1{
             margin-left:2rem;
         } 
        .img-section p{
            font-size:25px;
            margin:0 0 1rem 1rem;
        }
        .img-section button{
            width:150px;
            font-size: 15px;
            margin-left:1rem;
        }
        .last-section{
            height:120%;
        }
        .last-section .main{
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .last-section .main div{
            width:350px;
            margin:0;
        }

        .last-section p{
            font-size:20px ;
        }
      }


      @media (max-width:550px){
          .top-section h1{
              font-size:40px;
          }
          .img-section{
            background-size: contain;  
            height:130px;
          }
          .img-section div{
            margin-left:1rem;
            height:auto;
        }
         
          .img-section p{
            font-size:20px;
            margin:0 0 1rem 1rem;
        }
        .img-section button{
            width:100px;
            height:40px;
            font-size: 10px;
        }
      }

      @media(max-width:450px){
        .top-section h1{
            font-size:30px;
        }
          .img-section{
            height: 120px;
          }
          .img-section div{
              height:100%;
              padding-bottom: 1rem;
              margin:0;
          }
          .img-section p{
            font-size:18px;
            margin:0 0 0.5rem 1rem;
        }

          .img-section button{
            margin-left:1rem;
            height:30px;
            font-size: 8px;
        }

        .last-section .main{
            margin:2rem auto;
        }
        .last-section .main div{
            width:auto;
        }
        .last-section p{
            text-align: center;
        }

      }

      @media(max-width:370px){
        .top-section h1{
           margin-left:1rem;
        }
          .img-section p{
              margin:0 0 0 1rem;
              position: relative;
              bottom: 10px;
          }
          .img-section button{
              height:25px;
              width:80px;
              position: relative;
              bottom: 10px;
          }
          .last-section .main {
            margin:1rem auto;
        }
      }
